.input-container {
    input:checked + .radio-tile {
        background-color: var(--secondary-color);
        box-shadow: 0 0 12px var(--secondary-color);
        border: 2px solid var(--secondary-color);

        svg {
            fill: var(--white-color);
        }

        label {
            color: var(--white-color);
        }
    }

    input:hover + .radio-tile {
        box-shadow: 0 0 12px var(--secondary-color);
        label {
            color: var(--white-color);
        }

        svg {
            fill: var(--white-color);
        }
    }
}
