@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

:root {
    --primary-color: #F5C39680;
    --secondary-color: #813405;
    --light-color: #d0d0d0;
    --dark-color: #2c2c2c;
    --text-color: #131313;
    --white-color: #ffffff;
    --red-color: #EF233C;
    --green-color: #2EC4B6;
    --gray-color: #dee2e6;
    --blue-color: #1DA1F2;
    --border-radius: 7px;
    --font-family: 'Poppins', sans-serif;
    --alert-color: #fcbf49;
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family)
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #e2e2e2 /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color); /* Color of the scrollbar handle */
    border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}